@page "{id=0}"
@model EvoltingStore.Pages.DetailsModel
@using EvoltingStore.Entity
@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@{
    var isFavourite = (Boolean)ViewData["isFavourite"];
    var game = (Game)ViewData["game"];
    var minimum = (GameRequirement)ViewData["minimum"];
    var recommend = (GameRequirement)ViewData["recommend"];
    var news = (List<News>)ViewData["news"];

    var user = HttpContext.Session.GetString("user");
    var userData = (User)ViewData["userDetail"];
    if (user != null)
    {
        userData = (User) Newtonsoft.Json.JsonConvert.DeserializeObject<User>(user);
    }
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/Index">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/Index">Homepage</a></li>
                            <li><a href="/Categories">Browse</a></li>
                            <li><a href="/Blog">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                            @if (userData != null)
                            {
                                    <li><a href="#">My Favourite</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    @if (user != null)
                    {
                                    <a href="/Profile"><span class="icon_profile"></span></a>
                    }
                    else
                    {
                                    <a href="/Login">Login Now</a>
                    }
                    </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Index"><i class="fa fa-home"></i> Home</a>
                    <a href="/Categories">Browse</a>
                    <span>@game.Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="@game.Image">
                        <div class="comment"><i class="fa fa-comments"></i> @game.Comments.Count</div>
                        <div class="view"><i class="fa fa-eye"></i> @game.Users.Count</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@game.Name</h3>
                            <span><strong>Publisher:</strong> @game.Publisher - <strong>Release Date:</strong> @game.ReleaseDate.ToShortDateString()</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>1.029 Votes</span>
                        </div>
                        <p>@game.Description</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h5 style="color: papayawhip">MINIMUM SYSTEM REQUIREMENTS</h5>
                                    <ul>
                                        <li><span>OS:</span> @(minimum == null ? "N/A" : minimum.Os)</li>
                                        <li><span>Processor:</span> @(minimum == null ? "N/A" : minimum.Processor)</li>
                                        <li><span>Storage:</span> @(minimum == null ? "N/A" : minimum.Storage + " GB")</li>
                                        <li><span>Memory:</span> @(minimum == null ? "N/A" : minimum.Memory + " GB RAM")</li>
                                        <li><span>Video Card:</span> @(minimum == null ? "N/A" : minimum.Graphic)</li>
                                        <li><span>DirectX:</span> @(minimum == null ? "N/A" : minimum.DirectX)</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <h5 style="color: papayawhip">RECOMMEND SYSTEM REQUIREMENTS</h5>
                                    <ul>
                                        <li><span>OS:</span> @(recommend == null ? "N/A" : recommend.Os)</li>
                                        <li><span>Processor:</span> @(recommend == null ? "N/A" : recommend.Processor)</li>
                                        <li><span>Storage:</span> @(recommend == null ? "N/A" : recommend.Storage + " GB")</li>
                                        <li><span>Memory:</span> @(recommend == null ? "N/A" : recommend.Memory + " GB RAM")</li>
                                        <li><span>Video Card:</span> @(recommend == null ? "N/A" : recommend.Graphic)</li>
                                        <li><span>DirectX:</span> @(recommend == null ? "N/A" : recommend.DirectX)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            @if(user == null){
                                <a href="/Login"><button class="btn btn-danger">Login to Download this Game</button></a>
                            }
                            else{
                                <button onclick="myFunction()" style="border-radius: 12px;" class="dropbtn mr-2">Download Now</button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="@game.PirateLink" style=@(game.PirateLink != null ? "":"pointer-events: none")>Become a Pirate</a>
                                    <a href="@game.OfficialLink" style=@(game.PirateLink != null ? "":"pointer-events: none")>Support the Game Industry</a>
                                </div>
                                <form method="post" asp-page-handler="Favourite">
                                    <input type="text" name="gameId" value="@game.GameId" hidden/>
                                    <input type="submit" class="follow-btn" value="@(isFavourite ? "Remove from Favourite" : "Add to Favourite")"/>
                                </form>
                            }
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__review" id="anime__details__review">
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        @if(game.Comments.Count == 0){
                            <div class="anime__review__item">
                                <h6 style="color: papayawhip">No comments yet</h6>
                            </div>
                        }
                        else{
                            @foreach (var c in game.Comments)
                            {
                                <div class="anime__review__item">
                                    <div class="anime__review__item__pic">
                                        <img src="img/anime/review-1.jpg" alt="">
                                    </div>
                                    <div class="anime__review__item__text">
                                        <h6>@c.User.Username - <span>@c.PostTime.ToShortDateString() @c.PostTime.ToShortTimeString()</span></h6>
                                        <p>@c.Content</p>
                                    </div>
                                </div>
                            }
                        }
                        
                    </div>
                    @if(user != null){
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <input type="text" id="gameId" value="@game.GameId" hidden readonly>
                                <input type="text" id="userId" value="@userData.UserId" hidden readonly>
                                <textarea id="messageInput" placeholder="Your Comment"></textarea>
                                <button id="sendButton"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    }
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>you might like...</h5>
                        </div>
                        @foreach(var n in news){
                            <div class="product__sidebar__view__item set-bg" data-setbg="@n.Image">
                                <div class="ep">@n.Date</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="@n.Link">@n.Title</a></h5>
                            </div>
                        }
@*                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Boruto: Naruto next generations</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li><a href="/Index">Homepage</a></li>
                            <li><a href="/Categories">Browse</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->


<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>

<script src="~/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<style>
    .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}
</style>