@page
@model IndexModel
@using EvoltingStore.Entity

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

@{
    var topFavourites = (List<Game>) ViewData["topFavourites"];
    var latestRelease = (List<Game>) ViewData["latestRelease"];
    var latestUpdate = (List<Game>)ViewData["latestUpdate"];
    var latestCommment = (List<Game>)ViewData["latestCommment"];

    var user = HttpContext.Session.GetString("user");
    var userData = ViewData["userDetail"];
    if(user != null){
        userData = (User)Newtonsoft.Json.JsonConvert.DeserializeObject<User>(user);
    }
}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/Index">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/Index">Homepage</a></li>
                                <li><a href="/Categories">Browse</a></li>
                                <li><a href="/Blog">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                                @if (userData != null)
                                {
                                    <li><a href="#">My Favourite</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                            <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        @if (user != null)
                        {
                                    <a href="/Profile"><span class="icon_profile"></span></a>
                        }
                        else
                        {
                                    <a href="/Login">Login Now</a>
                        }
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6ZAlQrGYxXi8Bo8PuhJd5g/117dbe6cf56d580c60ad955e28467d88/ACV_Meta_image_website.png">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Assassin's Creed Valhalla</h2>
                                <p>Become a legendary Viking on a quest for glory. Raid your enemies, grow your settlement, and build your political power.</p>
                                <a href="#"><span>See Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6ZAlQrGYxXi8Bo8PuhJd5g/117dbe6cf56d580c60ad955e28467d88/ACV_Meta_image_website.png">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Assassin's Creed Valhalla</h2>
                                <p>Become a legendary Viking on a quest for glory. Raid your enemies, grow your settlement, and build your political power.</p>
                                <a href="#"><span>See Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6ZAlQrGYxXi8Bo8PuhJd5g/117dbe6cf56d580c60ad955e28467d88/ACV_Meta_image_website.png">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Assassin's Creed Valhalla</h2>
                                <p>Become a legendary Viking on a quest for glory. Raid your enemies, grow your settlement, and build your political power.</p>
                                <a href="#"><span>See Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Top Favourite</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Categories?orderBy=Favourites" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var g in topFavourites)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@g.Image">
                                                <div class="ep">@g.UpdateDate.ToShortDateString()</div>
                                            <div class="comment"><i class="fa fa-comments"></i> @g.Comments.Count</div>
                                            <div class="view"><i class="fa fa-eye"></i> @g.Users.Count</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                @foreach(var genre in g.Genres){
                                                    <li>@genre.GenreName</li>
                                                }
                                            </ul>
                                            <h5><a href="/Details?gameId=@g.GameId">@g.Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Latest Games</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Categories?orderBy=ReleaseDate" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var g in latestRelease)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="@g.Image">
                                                <div class="ep">@g.UpdateDate.ToShortDateString()</div>
                                                <div class="comment"><i class="fa fa-comments"></i> @g.Comments.Count</div>
                                                <div class="view"><i class="fa fa-eye"></i> @g.Users.Count</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                @foreach (var genre in g.Genres)
                                                {
                                                            <li>@genre.GenreName</li>
                                                }
                                            </ul>
                                            <h5><a href="/Details?gameId=@g.GameId">@g.Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Games</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/Categories?orderBy=UpdateDate" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var g in latestUpdate)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="@g.Image">
                                            <div class="ep">@g.UpdateDate.ToShortDateString()</div>
                                                <div class="comment"><i class="fa fa-comments"></i> @g.Comments.Count</div>
                                                <div class="view"><i class="fa fa-eye"></i> @g.Users.Count</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                @foreach (var genre in g.Genres)
                                                {
                                                            <li>@genre.GenreName</li>
                                                }
                                            </ul>
                                            <h5><a href="/Details?gameId=@g.GameId">@g.Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__comment">
                            <div class="section-title">
                                <h5>New Comment</h5>
                            </div>
                            @foreach(var g in latestCommment){
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="img/sidebar/comment-1.jpg" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="/Details?gameId=@g.GameId">@g.Name</a></h5>
                                        <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li><a href="/Index">Homepage</a></li>
                        <li><a href="/Categories">Browse</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->